body{
    background-image: url("http://cdn.miscellaneoushi.com/1920x1080/20121019/xbox%20black%20background%20controller%20xbox%20controller%201920x1080%20wallpaper_www.miscellaneoushi.com_8.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    color: darkgrey;
}


.hidden {
    display: none;
}



.buy-cells{
}
